<!DOCTYPE html>
<html ng-app="tutorialApp">
<head>
    <meta charset="UTF-8">
    <title>Tutorial App</title>
    <script src="lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/tutorialCtrl.js"></script>
</head>
<body ng-controller="tutorialCtrl">

    <h1> {{tutorialCtrlObject.title}}</h1>
    <h3> {{tutorialCtrlObject.subTitle}} </h3>
    <h3> {{message}} </h3>
    <h2> URL of the page is: </h2>
    <h3>{{myUrl}}</h3>
    <br>
    <p> Addition: {{2 + 2}} </p>
    <p> Name: {{tutorialCtrlObject.fName + " " + tutorialCtrlObject.lName}}</p>
    <p> Binding: {{tutorialCtrlObject.binding}}</p>


    <button ng-click="multiply()">Multiply</button>
    <button ng-click="addition()">Addition</button>
    <br>
    <br>

    <label>First Name:</label>
    <input ng-model="tutorialCtrlObject.fName">
    <br>
    <label>Last Name:</label>
    <input ng-model="tutorialCtrlObject.lName">

    <ksmy-directive></ksmy-directive>

</body>
</html>