    <h1> {{tutorialCtrlObject.title}}</h1>
    <h3> {{tutorialCtrlObject.subTitle}} </h3>
    <h3> {{message}} </h3>
    <h2> URL of the page is: </h2>
    <h3>{{myUrl}}</h3>
    <br>

    <p> Addition: {{2 + 2}} </p>
    <p> Name: {{tutorialCtrlObject.fName + " " + tutorialCtrlObject.lName}}</p>
    <p> Binding: {{tutorialCtrlObject.binding}}</p>
    <br>
    <button ng-click="multiply()">Multiply</button>
    <button ng-click="addition()">Addition</button>
    <br>
    <br>
    <a href="newPage2.html">Link to Page 1</a>